<launch>
  <param name="robot_description" textfile="$(find fusion2urdf)/sc_2553_50mm/sc_2553_50mm.urdf"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <node args="-param robot_description -urdf -model sc_2553_50mm" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
</launch>
